<section class="topSection">
  <h1>Drink the Juice, join the Cult...CROSSFIT!</h1>
  <a href="/"><button class="clickMe">Go Home</button></a>
  <a href="/add"><button class="clickMe">Add an Athlete!</button></a>
  <a href="/logout"><button class="clickMe">Logout</button></a>
  <h1>Hi {{user}}</h1>
  <h2>Click on the picture to edit or leave a comment:</h2>
</section>

                   <!-- EACH POST -->
<div class="container">
  <div>
    <ul>
      {{#each posts}}
        <li class="block">
          {{this.title}}<br>
          <a href="/blog/{{this.post_id}}">
          <img class="profile" src="{{this.image}}" alt="pic" /><br>
          </a>
          <p>
            {{this.name}}
          </p>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
