<h2>{{users.name}}</h2>
<a href="/">Home</a><br>
<a href="/blog/{{post.id}}/edit">Edit this Athlete</a><br>
<a href="/{{post.id}}/delete">Delete this Athlete</a><br>
<h3>{{post.title}}</h3>
<p>
  {{post.description}}
</p>
<img src="{{post.image}}" alt="athlete" />
