<section class="container">
  <a href="/blog"><button class="clickMe" type="button">Back to blog</button></a>
  <a href="/blog/{{posts.postId}}/edit"><button class="clickMe" type="button">Edit this Athlete</button></a>
  <a href="/blog/{{posts.postId}}/delete"><button class="clickMe" type="button">Delete this Athlete</button></a><br>

  <section class="half">
    <h3>{{posts.title}}</h3>
    <p>
      {{posts.description}}
    </p>
    <img class="moveUp" src="{{posts.image}}" alt="athlete"/>
  </section>
  <section class="half">
    <h2>What would you like to say:</h2>
    <form class="forms" action="/blog/{{posts.postId}}/comment" method="post">
      <textarea class="commentBox" name="description"></textarea><br>
      <div class="back">
        <a href="#"><button class="clickMe addCommentButton" type="submit">Add Comment</button></a>
      </div>
    </form>
    <ul class="list">
      {{# each comment}}
        <li>
          {{this.description}}
        </li>
      {{/each}}
    </ul>
  </section>

</section>
