<a href="/blog">Back to blog</a><br>
<a href="/{{posts.id}}/delete">Delete this Athlete</a><br>
<h2>{{posts.name}}</h2>
<h3>{{posts.title}}</h3>
<p>
  {{posts.description}}
</p>
<img src="{{posts.image}}" alt="athlete" />

<h1>Say something about this post</h1>
<form action="/blog/{{posts.postId}}/comment" method="post">
  <textarea name="description" rows="8" cols="40"></textarea><br>
  <button type="submit">Add Comment</button>
</form>
<ul>
  {{# each comment}}
    <li>
      {{this.description}}
    </li>
  {{/each}}
</ul>
